[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "iC10TrainingData"]
	path = iC10TrainingData
	url = https://github.com/cran/iC10TrainingData
